 body
 {
   margin: 0;
   padding: 0;
   
   /* make it look decent enough */
   /* background: #232323; */
   /* color: #cdcdcd; */
   font-family: sans-serif;
 }
 
hr.solid {
  border-top: 1px solid #ed0505; 
}

.header {
  padding-left: 30px;
  text-align: left;
  
  color: dodgerblue;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 12px 0px;
}

label{
  display: block;
  cursor: pointer;
  padding: 12px 10px;
  border: 1px solid #fff;
  border-bottom: none;
  background: whitesmoke;
  font-weight: bold;
}

label:hover{
  background: whitesmoke;
}

label.last{
  border-bottom: 1px solid #fff;
}

ul li{
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  background: whitesmoke;
  color: #232323;
}


/* Change the link color on hover */
li:hover {
  background-color: royalblue;
  color: white;
}

a {
  text-decoration: none;
}
input[type="checkbox"]{
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul{
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1); 
}

input[type="checkbox"]:checked + label{
  background: whitesmoke;
  border-bottom: 1px solid #fff;
}

