 
 * {
  box-sizing: border-box;
 }

 body
 {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
 }

 .main {
   display: flex;
  justify-content: space-between;
 }

 .wikipedia-content {
     width: 500px;
     height: 500px;
     margin-top: 50px;
 }

 .main-wikipedia-content {
  display: flex;
  flex-direction: column;
 }

 .wikipedia-url {
  color: #222;
  text-decoration: none;
 }

.wikipedia-title {
  display: flex;
  justify-content: center;
 }

 .wikipedia-image {
  display: flex;
  justify-content: center;
 }

 .button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
 }

 .extra-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .contents {
  width: 180px;
 }

 .bars-icon-contents{
  padding-right: 10px;
 }

 .chevron-icon-contents {
  padding-left: 45px;
 }

 .categories{
  width: 200px;
 }

 .bars-icon-categories{
  padding-right: 8px;
 }

 .chevron-icon-categories {
  padding-left: 45px;
 }

 .previous-button-container {
  margin-top: 300px;
  margin-left: 50px;
 }

 .next-button-container {
  margin-top: 300px;
  margin-right: 50px;
 }

 /* Header */
.header {
  padding-left: 30px;
  text-align: left;
  
  color: dodgerblue;
}


/* Burger Menu */
ul{
  list-style-type: none;
  margin: 0;
  padding: 12px 0px;
}

label{
  display: block;
  cursor: pointer;
  padding: 12px 10px;
  border: 1px solid #fff;
  border-bottom: none;
  background: whitesmoke;
  font-weight: bold;
}

label:hover{
  background: whitesmoke;
}

label.last{
  border-bottom: 1px solid #fff;
}

ul li{
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  background: whitesmoke;
  color: #232323;
}

li:hover {
  background-color: royalblue;
  color: white;
}

a {
  text-decoration: none;
}
input[type="checkbox"]{
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul{
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1); 
}

input[type="checkbox"]:checked + label{
  background: whitesmoke;
  border-bottom: 1px solid #fff;
}

