 
 * {
  box-sizing: border-box;
 }

 body
 {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background: #ffffff;
 }

.header {
  padding-left: 1.875rem;
  text-align: left;
  color: dodgerblue;
}

.footer {
  height: 1.25rem;
}

 .main {
   display: flex;
  justify-content: space-between;
 }

 .wikipedia-content {
     width: 31.25rem;
     height: 31.25rem;
     margin-top: 3.125rem;
 }

 .main-wikipedia-content {
  display: flex;
  flex-direction: column;
 }

 .wikipedia-url {
  color: #222;
  text-decoration: none;
 }

.wikipedia-title {
  display: flex;
  justify-content: center;
 }

 .wikipedia-image {
  display: flex;
  justify-content: center;
 }

 .wikipedia-abstract {
  font-size: 1.125rem;
  color: #202122;
 }

 .button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  cursor: pointer;
 }

 .extra-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .contents {
  width: 11.25rem;
 }

 .bars-icon-contents{
  padding-right: 0.625rem;
 }

 .chevron-icon-contents {
  padding-left: 3.75rem;
 }

 .categories{
  width: 12.5rem;
 }

 .bars-icon-categories{
  padding-right: 0.5rem;
 }

 .chevron-icon-categories {
  padding-left: 2.813rem;
 }

 .previous-button-container {
  margin-top: 18.75rem;
  margin-left: 3.125rem;
 }

 .next-button-container {
  margin-top: 18.75rem;
  margin-right: 3.125rem;
 }

/* Burger Menu */
ul{
  list-style-type: none;
  margin: 0;
  padding: 0.75rem 0rem;
 
}

label{
  display: block;
  cursor: pointer;
  padding: 0.75rem 0.625rem;
  border: 0.063rem solid #fff;
  border-bottom: none;
  background: dodgerblue;
  color: white;
  font-weight: bold;
}

label:hover{
  background: royalblue;
  color: white;
}

label:active{
  background-color: dodgerblue;
}

ul li{
  display: block;
  padding: 0.625rem 0.625rem;
  text-decoration: none;
  background: whitesmoke;
  color: #232323;
}

li:hover {
  background-color: dodgerblue;
  color: white;
}

a {
  text-decoration: none;
}
input[type="checkbox"]{
  position: absolute;
  left: -624.938rem;
}

input[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul{
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1); 
}

input[type="checkbox"]:checked + label{
  background: dodgerblue;
  border-bottom: 0.063rem solid #fff;
}

